# ==============================
# Ambientes virtuais Python
# ==============================
.venv/
.venv-1/
venv/
env/

# ==============================
# Cache do Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# PyCharm
# ==============================
.idea/

# ==============================
# Arquivos do sistema
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Arquivos temporários
# ==============================
*.tmp
*.log